
body,
#__next {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.m0a {
  margin: 0 auto;
}

.fs {
  align-self: flex-start;
}

.fe {
  align-self: flex-end;
}

.external-link {
  color: #d0d0d0;
  width: 0.85em;
  padding: 0 0.1ex 0 0.5ex;
  margin: 0;
}