$maxwidth: 877;
$articleBackgroundColor: #180038f0;

.post {
  color: white;
  header {
    max-width: $maxwidth;
  }
  .sitetitle {
    font-size: 1.5em;
    max-width: $maxwidth;
    margin-top: 0;
  }

  .description {
    display: block;
    font-weight: 200;
    font-size: 1.5em;
  }
  @media screen and (max-width: 900px) {
    .sitetitle {
      font-size: 1em;
    }
  }
}
